@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primary-color: rgb(17, 57, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

*{
    box-sizing: border-box ;
    outline: 0;
    
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
}

input, label, button {
    display: fixed;
    width: 95%;
    margin-bottom: 10px;
}

input {
    font-size: 34px;
    height: 50px;
    padding: 5px 20px;
}

input:focus{
    outline: 1px solid var(--primary-color);
}

button{
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    transition: 0.3s
}

button:hover{
    background-color: var(--primary-color-darker);
}
select{
    height: 50px;
    width: 120px;
    position: relative;
    align-items: center;
    margin: 15px 10px;
}

#resultado{
    width: 70%;
    margin: 10px 10px auto;
    
}

#trocarMoedas{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: blue;
    margin: 10px;
}

